<style>
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  tr:nth-child(even) {
    background-color: #dddddd;
  }

  .gash-logo {
    height: auto;
    width: 25%;
  }

  .report-wrapper {
    padding: 10px;
  }

  .report-header {
    text-align: center;
  }

</style>
<div class="report-wrapper">
  <div class="report-header">
    <img src="img/logo-gash-black.png" class="gash-logo">
    <h1> EIR # {{ revision.container }} </h1>
    <p> Reporte de revisión hecho por {{ revision.user }} </p>
  </div>
  <table>
    <tr>
      <td> <strong>Fecha y Hora:</strong> </td>
      <td> {{ revision.timestamp | date:'dd/MM/yy h:mm a' }} </td>
    </tr>
    <tr>
      <td> <strong>Entrada/Salida:</strong> </td>
      <td> {{ revision.container_status }} </td>
    </tr>
    <tr>
      <td> <strong>Contenedor:</strong> </td>
      <td> {{ revision.container }} </td>
    </tr>
    <tr>
      <td> <strong>Marchamo 1:</strong> </td>
      <td> {{ revision.seal_no_1 }} </td>
    </tr>
    <tr>
      <td> <strong>Marchamo 2:</strong> </td>
      <td> {{ revision.seal_no_2 }} </td>
    </tr>
    <tr>
      <td> <strong>Marchamo 3:</strong> </td>
      <td> {{ revision.seal_no_3 }} </td>
    </tr>
    <tr>
      <td> <strong>Marchamo 4:</strong> </td>
      <td> {{ revision.seal_no_4 }} </td>
    </tr>
    <tr>
      <td> <strong>Marchamo 5:</strong> </td>
      <td> {{ revision.seal_no_5 }} </td>
    </tr>
    <tr>
      <td> <strong>Marchamo 6:</strong> </td>
      <td> {{ revision.seal_no_6 }} </td>
    </tr>
    <tr>
      <td> <strong>Naviera:</strong> </td>
      <td> {{ revision.shipping_co | capitalize }} </td>
    </tr>
    <tr>
      <td> <strong>Predio Origen:</strong> </td>
      <td> {{ revision.origin }} </td>
    </tr>
    <tr>
      <td> <strong>Guia:</strong> </td>
      <td> {{ revision.tracking_id }} </td>
    </tr>
    <tr>
      <td> <strong>Predio Destino:</strong> </td>
      <td> {{ revision.destination }} </td>
    </tr>
    <tr>
      <td> <strong>Cabezal:</strong> </td>
      <td> {{ revision.carrier_no }} </td>
    </tr>
    <tr>
      <td> <strong>Conductor:</strong> </td>
      <td> {{ revision.driver }} </td>
    </tr>
    <tr>
      <td> <strong>Chassis:</strong> </td>
      <td> {{ revision.chassis_no }} </td>
    </tr>
    <tr>
      <td> <strong>Obervaciones:</strong> </td>
      <td> {{ revision.remarks }} </td>
    </tr>
  </table>
</div>
