<ion-view view-title="Contendor #{{ revision.container }}">
  <ion-nav-bar class="bar bar-header bar-dark">
    <ion-nav-buttons side="right">
      <button class="button button-small button-clear icon ion-gear-a" ng-click="printSettings()">
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content class="has-footer content has-header white-background">
    <div class="gash-report-wrapper">
      <img id='report-logo' class="gash-report-logo" src="img/logo-gash-black.png">
      <canvas id="canvas-report"></canvas>
      <h3 class="text-center"> EIR #{{ container }} </h3>
      <div class="list list-inset has-footer">
        <a class="item">
          <strong>Fecha y Hora:</strong> {{ revision.timestamp | date:'dd/MM/yy h:mm a' }}
        </a>
        <a class="item">
          <strong>Entrada/Salida:</strong> {{ revision.container_status }}
        </a>
        <a class="item">
          <strong>Contenedor:</strong> {{ revision.container }}
        </a>
        <a class="item">
          <strong>Tipo de Contenedor:</strong> {{ revision.container_type }}
        </a>
        <a class="item">
          <strong>Marchamo 1:</strong> {{ revision.seal_no_1 }} 
        </a>
        <a class="item">
          <strong>Marchamo 2:</strong> {{ revision.seal_no_2 }}
        </a>
        <a class="item">
          <strong>Marchamo 3:</strong> {{ revision.seal_no_3 }}
        </a>
        <a class="item">
          <strong>Marchamo 4:</strong> {{ revision.seal_no_4 }}
        </a>
        <a class="item">
          <strong>Marchamo 5:</strong> {{ revision.seal_no_5 }}
        </a>
        <a class="item">
          <strong>Marchamo 6:</strong> {{ revision.seal_no_6 }}
        </a>
        <a class="item" ng-if="revision.shipping_company">
          <strong>Naviera:</strong> {{ revision.shipping_company | capitalize}}
        </a>
        <a class="item" ng-if="!revision.shipping_company">
          <strong>Naviera:</strong> {{ revision.shipping_co | capitalize}}
        </a>
        <a class="item">
          <strong>Medida:</strong> {{ revision.size }}
        </a>
        <a class="item">
          <strong>Predio Origen:</strong> {{ revision.origin }}
        </a>
        <a class="item">
          <strong>Guía:</strong> {{ revision.tracking_id }}
        </a>
        <a class="item">
          <strong>Predio Destino:</strong> {{ revision.destination }}
        </a>
        <a class="item">
          <strong>Cabezal:</strong> {{ revision.carrier_no }}
        </a>
        <a class="item">
          <strong>Conductor:</strong> {{ revision.driver }}
        </a>
        <a class="item">
          <strong>Chasis:</strong> {{ revision.chassis_no }}
        </a>
        <a class="item">
          <strong>Tipo de Chasis:</strong> {{ revision.chassis_type }}
        </a>
        <a class="item">
          <strong>Observaciones:</strong> {{ revision.remarks }}
        </a>
        <a class="item">
          <strong> M D #1/2: </strong> {{ revision.tire_seal_1 }}
        </a>
        <a class="item">
          <strong> M D #3/4: </strong> {{ revision.tire_seal_2 }}
        </a>
        <a class="item">
          <strong> M D #5/6: </strong> {{ revision.tire_seal_3 }}
        </a>
        <a class="item">
          <strong> M I #1/2: </strong> {{ revision.tire_seal_4 }}
        </a>
        <a class="item">
          <strong> M I #3/4: </strong> {{ revision.tire_seal_5 }}
        </a>
        <a class="item">
          <strong> M I #5/6: </strong> {{ revision.tire_seal_6 }}
        </a>
        <a class="item" ng-if="revision.parts">
          <table class="table table-striped parts-table">
            <thead>
            <tr>
              <th ng-click="sortBy('name')">
                <a class="item">Parte</a>
              </th>
              <th ng-click="sortBy('in')">
                <a class="item">Entrada</a>
              </th>
              <th ng-click="sortBy('out')">
                <a class="item">Salida</a>
              </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="part in revision.parts | orderBy:sort.property:sort.reverse">
              <td>
                <a>
                  <a class="item">{{part.name}} </a>
                </td>
              <td>
                <a ng-show="{{part.in}}" class="item">si</a>
                <a ng-show="!{{part.in}}" class="item">no</a>
              </td>
              <td>
                <span ng-show="{{part.out}}" class="item">si</span>
                <span ng-show="!{{part.out}}" class="item">no</span>
              </td>
            </tr>
            </tbody>
          </table>
        </a>
        <h2> Daños </h2>
        <div ng-repeat="damage in revision.damages">
          <a class="item"> {{ damage.part }} - {{ damage.name }}</a>
        </div>
        <div ng-if="revision.damages.length == 0">
          <p> Sin daños </p>
        </div>
      </div>
    </div>
  </ion-content>
  <ion-footer-bar>
    <div class="col col-50">
      <button class="button button-block button-dark" ng-click="printReport()">
        Imprimir reporte
      </button>
    </div>
    <div class="col col-50">
      <button class="button button-block button-assertive" ng-click="goToHome()">
        Salir
      </button>
    </div>
  </ion-footer-bar>
</ion-view>
