<ion-view view-title="Evergreen Damages" class="scroll-y">
  <div class="row" id="container-view-selection">
    <div class="col"><h4>Seleccione una vista para manejar los daños.</h4></div>
  </div>
  <div class="view-scroll">
    <div class="row responsive-sm">
      <div class="col padding">
        <div class="list" ng-click="vm.goToViewDamages('left')">
          <div class="item item-divider item-icon-right">
            Izquierda
            <i class="icon ion-android-add-circle balanced" ng-show="vm.hasNewDamages('left')"></i>
          </div>
          <img src="img/evergreen/left.png" class="full-image item" alt="Izquierda">
        </div>
      </div>
      <div class="col padding">
        <div class="list" ng-click="vm.goToViewDamages('inside')">
          <div class="item item-divider item-icon-right">
            Interior
            <i class="icon ion-android-add-circle balanced" ng-show="vm.hasNewDamages('inside')"></i>
          </div>
          <img src="img/evergreen/inside.png" class="full-image item" alt="Interior">
        </div>
      </div>
      <div class="col padding">
        <div class="list" ng-click="vm.goToViewDamages('right')">
          <div class="item item-divider item-icon-right">
            Derecha
            <i class="icon ion-android-add-circle balanced" ng-show="vm.hasNewDamages('right')"></i>
          </div>
          <img src="img/evergreen/right.png" class="full-image item" alt="Derecha">
        </div>
      </div>
    </div>
    <div class="row responsive-sm">
      <div class="col-33 padding">
        <div class="list" ng-click="vm.goToViewDamages('chassis_front')">
          <div class="item item-divider item-icon-right">
            Chasis - Frente
            <i class="icon ion-android-add-circle balanced" ng-show="vm.hasNewDamages('chassis_front')"></i>
          </div>
          <img src="img/evergreen/chassis_front.png" class="full-image item" alt="Chasis - Frente">
        </div>
      </div>
      <div class="col padding">
        <div class="list" ng-click="vm.goToViewDamages('chassis_up')">
          <div class="item item-divider item-icon-right">
            Chasis - Arriba
            <i class="icon ion-android-add-circle balanced" ng-show="vm.hasNewDamages('chassis_up')"></i>
          </div>
          <img src="img/no_margin/chassis_up.png" class="full-image item no-margin-chassis-up" alt="Lado Derecho">
        </div>
      </div>
    </div>
    <div class="row responsive-sm damages-margin">
      <div class="col-33 padding">
        <div class="list" ng-click="vm.goToViewDamages('chassis_back')">
          <div class="item item-divider item-icon-right">
            Chasis - Atrás
            <i class="icon ion-android-add-circle balanced" ng-show="vm.hasNewDamages('chassis_back')"></i>
          </div>
          <img src="img/evergreen/chassis_back.png" class="full-image item" alt="Chasis - Atrás">
        </div>
      </div>
      <div class="col padding">
        <div class="list" ng-click="vm.goToViewDamages('chassis_side')">
          <div class="item item-divider item-icon-right">
            Chassis - Costado
            <i class="icon ion-android-add-circle balanced" ng-show="vm.hasNewDamages('chassis_side')"></i>
          </div>
          <img src="img/no_margin/chassis_side.png" class="full-image item no-margin-chassis-side" alt="Lado Izquierdo">
        </div>
      </div>
    </div>
  </div>
</ion-view>
