<ion-view view-title="Login">
  <ion-content>
    <div class="login-wrapper">
      <img class="gash-logo" src="img/logo-gash-white.png"/>
      <div class="list inputs-wrapper">
        <label class="item item-input">
          <i class="icon ion-person placeholder-icon"></i>
          <input type="text" placeholder="Usuario" ng-model="vm.user.username"/>
        </label>
        <label class="item item-input">
          <i class="icon ion-key placeholder-icon"></i>
          <input type="password" placeholder="Contraseña" ng-model="vm.user.password"/>
        </label>
      </div>
      <button class="button button-full button-assertive" type="submit" ng-click="vm.authenticate()">
        <strong>Iniciar Sesión</strong>
      </button>
    </div>
  </ion-content>
</ion-view>
