<ion-view view-title="Revisión del Contenedor #{{vm.container.number}}">
  <ion-nav-bar class="bar bar-header bar-dark">
    <ion-nav-back-button>
    </ion-nav-back-button>
    <button class="button pull-right" id="button-log-out" ng-click="vm.logOut()">
      <i class="icon ion-log-out"></i>
    </button>
  </ion-nav-bar>

  <ion-tabs class="tabs-striped tabs-top tabs-background-dark tabs-color-light">
    <ion-tab title="Formulario" class="full-width-tab">
      <ion-view class="has-footer">
          <ng-dynamic-controller key={{vm.container.shipping_co}}></ng-dynamic-controller>
      </ion-view>
    </ion-tab>
    <ion-tab title="Daños" class="full-width-tab" ui-sref="gashDamages">
      <ion-nav-view name="damages" class="top-margin has-footer">
        <ion-view >
          <ng-dynamic-controller-damages key={{vm.container.shipping_co}}></ng-dynamic-controller-damages>
        </ion-view>
      </ion-nav-view>
    </ion-tab>
  </ion-tabs>

  <ion-footer-bar>
    <div class="col col-50">
      <button class="button button-full button-dark" ng-click="vm.saveRevision()">Guardar Revisión</button>  
    </div>
    <div class="col col-50">
      <button class="button button-block button-assertive" ng-click="vm.goToPreview()">Vista Previa</button>
    </div>
  </ion-footer-bar>
</ion-view>
