<ion-view view-title="Configuración de la dirección IP">
  <ion-nav-bar class="bar bar-header bar-dark">
    <ion-nav-back-button>
    </ion-nav-back-button>
  </ion-nav-bar>
  <ion-content class="has-footer content has-header white-background">
    <div class="gash-report-wrapper">
      <img id='report-logo' class="gash-report-logo" src="img/logo-gash-black.png">
      <div class="row item item-input-inset padding responsive-sm" id="container-input-wrapper2">
        <label class="item item-input col-80">
          <input type="text" placeholder="Dirección IP: 192.168.0.x" ng-model="vm.address" maxlength="15" required>
        </label>
      </div>
    </div>
  </ion-content>
  <ion-footer-bar>
    <button class="button button-full button-assertive" ng-click="vm.saveChanges()">Guardar cambios</button>
  </ion-footer-bar>
</ion-view>
