<ion-nav-view name="form" class="scroll-y">
  <ion-item class="has-tabs-top has-footer view-scroll additional-margin">
    <div class="list">
      <div class="item item-divider text-center">
        Formulario GASH
      </div>
      <div class="item item-divider">
        Detalles del Shipping
      </div>
      <div class="button-bar">
        <ion-radio ng-model="vm.revision.container_status" ng-value="'Vacío'" name="container_status">Vacío</ion-radio>
        <ion-radio ng-model="vm.revision.container_status" ng-value="'Cargado'" name="container_status">Cargado</ion-radio>
        <ion-radio ng-model="vm.revision.container_status" ng-value="'Sólo Chasis'" name="container_status" ng-click="vm.clearMoveReason()">Sólo Chasis</ion-radio>
      </div>
      <div class="button-bar">
        <ion-radio ng-model="vm.revision.move_reason" ng-value="'import'" name="move_reason" ng-hide="vm.revision.container_status === 'chassisOnly'">Import</ion-radio>
        <ion-radio ng-model="vm.revision.move_reason" ng-value="'export'" name="move_reason" ng-hide="vm.revision.container_status === 'chassisOnly'">Export</ion-radio>
      </div>
      <label class="item item-input">
        <span class="input-label">Nombre de Naviera</span>
        <input ng-model="vm.revision.shipping_company" type="text" placeholder="Ej. Gash">
      </label>
      <label class="item item-input">
        <span class="input-label">Cabezal</span>
        <input ng-model="vm.revision.carrier_no" type="number" placeholder="Ej. 343212345">
      </label>
      <label class="item item-input">
        <span class="input-label">Prefijo</span>
        <input ng-model="vm.revision.prefix" type="text" placeholder="Ej. CAXU">
      </label>
      <label class="item item-input">
        <span class="input-label">Chasis</span>
        <input ng-model="vm.revision.chassis_no" type="number" placeholder="Ej. 4533243">
      </label>
      <label class="item item-input">
        <span class="input-label">Tipo de Chasis</span>
        <select ng-model="vm.revision.chassis_type">
          <option>GASH</option>
          <option>Traytesa</option>
          <option>Terconsa</option>
          <option>Furgones GASH</option>
          <option>Furgones Terconsa</option>
          <option>Particular</option>
        </select>      
      </label>
      <label class="item item-input">
        <span class="input-label">Transportista</span>
        <input ng-model="vm.revision.driver" type="text" placeholder="Ej. Juan Vasquez">
      </label>
      <label class="item item-input">
        <span class="input-label">Número de guía</span>
        <input ng-model="vm.revision.tracking_id" type="text" placeholder="Ej. 648670986">
      </label>
      <label class="item item-input">
        <span class="input-label">Tipo de contenedor</span>
        <select ng-model="vm.revision.container_type">
          <option>Estandar (ST)</option>
          <option>Refrigerado (RH)</option>
          <option>HIGH-CUBE (HQ)</option>
          <option>Open Top-OP</option>
          <option>Flat</option>
          <option>ISO TANK</option>
        </select>
      </label>
      <div class="table">
        <div class="row">
          <div class="col form_subtitle">
            <h2 class="title">Marchamo</h2>
          </div>
        </div>
        <div class="row">
          <div class="col seal-container">
            <input ng-model="vm.revision.seal_no_1" type="text" placeholder="Marchamo de seguridad 1">
          </div>
          <div class="col seal-container">
            <input ng-model="vm.revision.seal_no_2" type="text" placeholder="Marchamo de seguridad 2">
          </div>
          <div class="col seal-container">
            <input ng-model="vm.revision.seal_no_3" type="text" placeholder="Marchamo de seguridad 3">
          </div>
        </div>
        <div class="row">
          <div class="col seal-container">
            <input ng-model="vm.revision.seal_no_4" type="text" placeholder="Marchamo de seguridad 4">
          </div>
          <div class="col seal-container">
            <input ng-model="vm.revision.seal_no_5" type="text" placeholder="Marchamo de seguridad 5">
          </div>
          <div class="col seal-container">
            <input ng-model="vm.revision.seal_no_6" type="text" placeholder="Marchamo de seguridad 6">
          </div>
        </div>
      </div>
      <label class="item item-input">
        <span class="input-label">Medida</span>
        <select ng-model="vm.revision.size">
          <option>20</option>
          <option>40</option>
          <option>45</option>
          <option>48</option>
          <option>53</option>
        </select>
      </label>
      <label class="item item-input">
        <span class="input-label">Origen</span>
        <select ng-model="vm.revision.origin">
          <option>Limón</option>
          <option>San José</option>
          <option>Caldera</option>
          <option>Nicaragua</option>
        </select>
      </label>
      <label class="item item-input">
        <span class="input-label">Destino</span>
        <select ng-model="vm.revision.destination">
          <option class="small-option">Limón</option>
          <option>San José</option>
          <option>Caldera</option>
          <option>Nicaragua</option>
        </select>
      </label>
    </div>
    <div class="list">
      <div class="item item-divider">
        Detalles del Chasis
      </div>
      <ion-checkbox class="checkbox-assertive" ng-model="vm.revision.gen_set" ng-change="vm.noGenSet()">Gen Set</ion-checkbox>
      <div ng-show="vm.revision.gen_set">
        <ion-checkbox class="checkbox-assertive" ng-model="vm.revision.battery">Batería</ion-checkbox>
        <ion-checkbox class="checkbox-assertive" ng-model="vm.revision.battery_seal">Marchamo Batería</ion-checkbox>
        <ion-checkbox class="checkbox-assertive" ng-model="vm.revision.alternator">Alternador</ion-checkbox>
        <ion-checkbox class="checkbox-assertive" ng-model="vm.revision.starter">Arrancador</ion-checkbox>
        <ion-checkbox class="checkbox-assertive" ng-model="vm.revision.electric_generator">Bomba Electrica</ion-checkbox>
      </div>
    </div>
    <div class="list">
      <div class="item item-divider">
        Detalles de las Llantas
      </div>
      <label class="item item-input">
        <span class="input-label">Estado </span>
        <select ng-model="vm.revision.tire_condition">
          <option>Nuevas</option>
          <option>Lisas</option>
          <option>Recauchadas</option>
        </select>
      </label>
      <div class="table">
        <div class="row">
          <div class="col form_subtitle">
            <h2 class="title"> Marchamos </h2>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <input ng-model="vm.revision.tire_seal_1" type="text" placeholder="Llanta 1">
          </div>
          <div class="col">
            <input ng-model="vm.revision.tire_seal_2" type="text" placeholder="Llanta 2">
          </div>
          <div class="col">
            <input ng-model="vm.revision.tire_seal_3" type="text" placeholder="Llanta 3">
          </div>
        </div>
        <div class="row">
          <div class="col">
            <input ng-model="vm.revision.tire_seal_4" type="text" placeholder="Llanta 4">
          </div>
          <div class="col">
            <input ng-model="vm.revision.tire_seal_5" type="text" placeholder="Llanta 5">
          </div>
          <div class="col">
            <input ng-model="vm.revision.tire_seal_6" type="text" placeholder="Llanta 6">
          </div>
        </div>
      </div>
    </div>
    <div class="list">
      <div class="item item-divider">
        Entrada y Salida de Partes
      </div>
      <div class="row" id="seal_header">
        <div class="col">Parte</div>
        <div class="col" ng-click="vm.toggleAll('in')">Entrada</div>
        <div class="col" ng-click="vm.toggleAll('out')">Salida</div>
      </div>
      <div class="table">
        <div class="row" ng-repeat="part in vm.tir_parts">
          <div class="col">{{ part.name }}</div>
          <div class="col">
            <ion-checkbox class="checkbox-assertive centered-checkbox" ng-model="part.in"></ion-checkbox>
          </div>
          <div class="col">
            <ion-checkbox class="checkbox-assertive centered-checkbox" ng-model="part.out"></ion-checkbox>
          </div>
        </div>
      </div>
      <div class="list">
        <div class="item item-divider">
          Observaciones
        </div>
        <label class="item item-input">
          <textarea ng-model="vm.revision.remarks" rows="4" cols="50" placeholder="Escribir aquí..."></textarea>
        </label>
      </div>
    </div>
  </ion-item>
</ion-nav-view>
