<ion-view view-title="Contendor #{{ vm.currentRevision.container }}">
  <ion-nav-bar class="bar bar-header bar-dark">
  </ion-nav-bar>
  <ion-content class="has-footer content has-header white-background">
    <div class="gash-report-wrapper">
      <img id='report-logo' class="gash-report-logo" src="img/logo-gash-black.png">
      <h3 class="text-center"> EIR #{{ vm.currentRevision.container }} </h3>
      <div class="list list-inset has-footer">
        <a class="item">
          <strong>Fecha y Hora:</strong> {{ vm.currentRevision.timestamp | date:'dd/MM/yy h:mm a' }}
        </a>
        <a class="item">
          <strong>Entrada/Salida:</strong> {{ vm.currentRevision.container_status }}
        </a>
        <a class="item">
          <strong>Contenedor:</strong> {{ vm.currentRevision.container }}
        </a>
        <a class="item">
          <strong>Tipo de Contenedor:</strong> {{ vm.currentRevision.container_type }}
        </a>
        <a class="item">
          <strong>Marchamo 1:</strong> {{ vm.currentRevision.seal_no_1 }} 
        </a>
        <a class="item">
          <strong>Marchamo 2:</strong> {{ vm.currentRevision.seal_no_2 }}
        </a>
        <a class="item">
          <strong>Marchamo 3:</strong> {{ vm.currentRevision.seal_no_3 }}
        </a>
        <a class="item">
          <strong>Marchamo 4:</strong> {{ vm.currentRevision.seal_no_4 }}
        </a>
        <a class="item">
          <strong>Marchamo 5:</strong> {{ vm.currentRevision.seal_no_5 }}
        </a>
        <a class="item">
          <strong>Marchamo 6:</strong> {{ vm.currentRevision.seal_no_6 }}
        </a>
        <a class="item" ng-if="vm.currentRevision.shipping_company">
          <strong>Naviera:</strong> {{ vm.currentRevision.shipping_company | capitalize}}
        </a>
        <a class="item" ng-if="!vm.currentRevision.shipping_company">
          <strong>Naviera:</strong> {{ vm.currentRevision.shipping_co | capitalize}}
        </a>
        <a class="item">
          <strong>Medida:</strong> {{ vm.currentRevision.size }}
        </a>
        <a class="item">
          <strong>Predio Origen:</strong> {{ vm.currentRevision.origin }}
        </a>
        <a class="item">
          <strong>Guía:</strong> {{ vm.currentRevision.tracking_id }}
        </a>
        <a class="item">
          <strong>Predio Destino:</strong> {{ vm.currentRevision.destination }}
        </a>
        <a class="item">
          <strong>Cabezal:</strong> {{ vm.currentRevision.carrier_no }}
        </a>
        <a class="item">
          <strong>Conductor:</strong> {{ vm.currentRevision.driver }}
        </a>
        <a class="item">
          <strong>Chasis:</strong> {{ vm.currentRevision.chassis_no }}
        </a>
        <a class="item">
          <strong>Tipo de Chasis:</strong> {{ vm.currentRevision.chassis_type }}
        </a>
        <a class="item">
          <strong>Observaciones:</strong> {{ vm.currentRevision.remarks }}
        </a>
        <a class="item">
          <strong> M D #1/2: </strong> {{ vm.currentRevision.tire_seal_1 }}
        </a>
        <a class="item">
          <strong> M D #3/4: </strong> {{ vm.currentRevision.tire_seal_2 }}
        </a>
        <a class="item">
          <strong> M D #5/6: </strong> {{ vm.currentRevision.tire_seal_3 }}
        </a>
        <a class="item">
          <strong> M I #1/2: </strong> {{ vm.currentRevision.tire_seal_4 }}
        </a>
        <a class="item">
          <strong> M I #3/4: </strong> {{ vm.currentRevision.tire_seal_5 }}
        </a>
        <a class="item">
          <strong> M I #5/6: </strong> {{ vm.currentRevision.tire_seal_6 }}
        </a>
        <a class="item" ng-if="vm.currentRevision.parts">
          <table class="table table-striped parts-table">
            <thead>
            <tr>
              <th ng-click="vm.sortBy('name')">
                <a class="item">Parte</a>
              </th>
              <th ng-click="vm.sortBy('in')">
                <a class="item">Entrada</a>
              </th>
              <th ng-click="vm.sortBy('out')">
                <a class="item">Salida</a>
              </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="part in vm.currentRevision.parts | orderBy:vm.sort.property:vm.sort.reverse">
              <td>
                <a>
                  <a class="item">{{part.name}}</a>
                </td>
              <td>
                <a ng-show="{{part.in}}" class="item">si</a>
                <a ng-show="!{{part.in}}" class="item">no</a>
              </td>
              <td>
                <a ng-show="{{part.out}}" class="item">si</a>
                <a ng-show="!{{part.out}}" class="item">no</a>
              </td>
            </tr>
            </tbody>
          </table>
        </a>
        <h2> Daños </h2>
        <div ng-repeat="damage in vm.currentRevision.damages">
          <a class="item"> {{ damage.part }} - {{ damage.name }}</a>
        </div>
        <div ng-if="vm.currentRevision.damages.length == 0">
          <p> Sin daños </p>
        </div>
      </div>
    </div>
  </ion-content>
  <ion-footer-bar>
      <button class="button button-block button-assertive" ng-click="vm.modulesModal.remove()">Salir</button>
  </ion-footer-bar>
</ion-view>
