<ion-view view-title="Nueva revisión">
  <div class="bar bar-header bar-dark">
    <button class="button pull-right" id="button-log-out" ng-click="vm.logOut()">
      <i class="icon ion-log-out"></i>
    </button>
  </div>
  <ion-content class="has-header">
    <div class="full-height">
      <div class="row item item-input-inset padding responsive-sm" id="container-input-wrapper">
        <label class="item item-input col-80">
          <input type="text" ng-model="vm.containerNumber" placeholder="Código del contenedor">
        </label>
        <button class="button button-block button-assertive col-20" id="container-input-button" ng-click="vm.getContainer()">
          <strong>Ingresar</strong>
        </button>
      </div>
      <div ng-if="!vm.isLoaded" class="no-container padding">
        <h3>Ingrese el código del contenedor para continuar.</h3>
      </div>
      <div ng-if="vm.isLoaded">
        <div ng-if="vm.containerExists">
          <div id="container-message">
            <h4>¡Contenedor existente! <br> Verifique los datos y presione "Siguiente" para continuar.</h4>
          </div>
          <div class="list padding">
            <a class="item">
              <strong>Código del contenedor:</strong> {{ vm.container.number }}
            </a>
            <a class="item">
              <strong>Última revisión:</strong> {{ vm.container.lastRevDate | date:'dd/MM/yy h:mm a'}}
            </a>
            <a class="item" id="shippingCo">
              <strong>Naviera:</strong> {{ vm.container.shipping_co }}
            </a>
          </div>
        </div>
        <div ng-if="!vm.containerExists">
          <div id="container-message">
            <h4>¡Nuevo contenedor! <br> Seleccione la naviera a la que pertenece para continuar.</h4>
          </div>
          <div class="list padding">
            <a class="item item-thumbnail-left" ng-click="vm.goToForm('gash')">
              <img src="img/logo-gash-black.png" alt="Gash">
              <h2>Gash</h2>
              <p>Llenar un formulario de Gash.</p>
            </a>
            <a class="item item-thumbnail-left" ng-click="vm.goToForm('nyk')">
              <img src="img/logo-nyk.png" alt="NYK">
              <h2>NYK</h2>
              <p>Llenar un formulario de NYK.</p>
            </a>
            <a class="item item-thumbnail-left" ng-click="vm.goToForm('evergreen')">
              <img src="img/logo-evergreen.png" alt="Evergreen">
              <h2>Evergreen</h2>
              <p>Llenar un formulario de Evergreen.</p>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div ng-if="vm.isLoaded && vm.containerExists" class="bar bar-footer bar-assertive">
      <button class="button button-clear ion-ios-arrow-forward icon-right pull-right" ng-click="vm.goToForm(vm.container.shipping_co)"><strong>Siguiente &nbsp;</strong></button>
    </div>
  </ion-content>
</ion-view>
