<ion-view view-title="Nyk Damages"  class="scroll-y">
  <div class="row" id="container-view-selection">
    <div class="col"><h4>Seleccione una vista para manejar los daños.</h4></div>
  </div>
  <div class="view-scroll">
    <div class="row responsive-sm">
      <div class="col padding">
        <div class="list" ng-click="vm.goToViewDamages('left')">
          <div class="item item-divider item-icon-right">
            Izquierda
            <i class="icon ion-android-add-circle balanced" ng-show="vm.hasNewDamages('left')"></i>
          </div>
          <img src="img/nyk/left.png" class="full-image item" alt="Lado Izquierdo">
        </div>
      </div>
      <div class="col padding">
        <div class="list" ng-click="vm.goToViewDamages('inside')">
          <div class="item item-divider item-icon-right">
            Interior
            <i class="icon ion-android-add-circle balanced" ng-show="vm.hasNewDamages('inside')"></i>
          </div>
          <img src="img/nyk/inside.png" class="full-image item" alt="Interior">
        </div>
      </div>
      <div class="col padding">
        <div class="list" ng-click="vm.goToViewDamages('right')">
          <div class="item item-divider item-icon-right">
            Derecha
            <i class="icon ion-android-add-circle balanced" ng-show="vm.hasNewDamages('right')"></i>
          </div>
          <img src="img/nyk/right.png" class="full-image item" alt="Lado Derecho">
        </div>
      </div>
    </div>
    <div class="row responsive-sm">
      <div class="col-33 padding">
        <div class="list" ng-click="vm.goToViewDamages('front')">
          <div class="item item-divider item-icon-right">
            Frente
            <i class="icon ion-android-add-circle balanced" ng-show="vm.hasNewDamages('front')"></i>
          </div>
          <img src="img/nyk/front.png" class="full-image item no-margin-front-back" alt="Frente">
        </div>
      </div>
      <div class="col padding">
        <div class="list" ng-click="vm.goToViewDamages('roof')">
          <div class="item item-divider item-icon-right">
            Techo
            <i class="icon ion-android-add-circle balanced" ng-show="vm.hasNewDamages('roof')"></i>
          </div>
          <img src="img/no_margin/roof.png" class="full-image item" alt="Techo">
        </div>
      </div>
    </div>
    <div class="row responsive-sm damages-margin">
      <div class="col-33 padding">
        <div class="list" ng-click="vm.goToViewDamages('back')">
          <div class="item item-divider item-icon-right">
            Atrás
            <i class="icon ion-android-add-circle balanced" ng-show="vm.hasNewDamages('back')"></i>
          </div>
          <img src="img/nyk/back.png" class="full-image item no-margin-front-back" alt="Atrás">
        </div>
      </div>
      <div class="col padding">
        <div class="list" ng-click="vm.goToViewDamages('floor')">
          <div class="item item-divider item-icon-right">
            Piso
            <i class="icon ion-android-add-circle balanced" ng-show="vm.hasNewDamages('floor')"></i>
          </div>
          <img src="img/no_margin/floor.png" class="full-image item" alt="Frente">
        </div>
      </div>
    </div>
  </div>
</ion-view>
