<div class="list">
  <label class="item item-input item-select">
    <div class="input-label"> Daño: </div>
    <select ng-options="damage.abbreviation as damage.name for damage in damageModel.damagesList" ng-model="damageModel.value"></select>
  </label>
  <label ng-show="getPhotoStatus()!=true" class="item item-input">
   <button class="button button-full icon-left ion-camera popUp-label" type="submit" ng-click="takePicture()">Tomar Foto</button>
  </label>
    <div ng-show="getPhotoStatus()==true">
      <img ng-src = "{{picture}}" class ="canvas-wrapper">
      <div class="item item-button-right">
        <p>Fotografía existente.</p>
        <button class="button button-assertive" ng-click="changePhotoStatus()">
          <i class="icon ion-close"></i>
        </button>
      </div>
    </div>
</div>
