<ion-view view-title="View Damages" id="modal-damages">
  <div class="row" id="container-view-selection">
    <div class="col"><h4>Manejo de Daños</h4></div>
  </div>
  <div class="canvas-wrapper">
    <damages-canvas></damages-canvas>
  </div>
  <div class="list list-inset top-margin view-scroll">
    <div class="item item-divider">
      Lista de Daños
    </div>
    <div id="damages-list-wrapper">
      <div class="item item-button-right" ng-repeat="damage in vm.currentDamages">
        <p>{{ damage.name }}</p>
        <button class="button button-assertive" ng-click="vm.deleteDamage(damage)">
          <i class="icon ion-close"></i>
        </button>
      </div>
    </div>
  </div>
  <ion-footer-bar>
    <div class="button-bar">
      <a class="button" ng-click="vm.exit()">Salir</a>
      <a class="button" ng-click="vm.save()">Guardar</a>
    </div>
  </ion-footer-bar>
</ion-view>
