#canvas{
  width: 84%;
  height: 46% !important;
  position: absolute;
  margin: 8%;
}

#canvas-report{
  display: none;
}

.canvas-wrapper{
  height: 50%;
  width: 100%;
}

.full-height{
  height:100%;
}

.scroll{
  height:100%;
}

.damages-left-wrapper{
  height: 100%;
}

.front-container-wrapper{
  display: block;
  margin: 0 auto;
  text-align: center;
}

.front-img-menu{
  width: 60% !important;
}

.popup-container{
  width: 100% !important;
}

.popUp-label{
  font-size: 1.5em !important;
}

select{
  margin-left: 1emf;
  font-size: 1.5em !important;
}

.additional-margin {
  margin-bottom: 40px !important;
}

.scroll-y {
  overflow-y: auto !important;
}

.damages-margin {
  margin-bottom: 120px !important;
}

.seal-container {
  overflow: hidden;
}

@media only screen and (max-device-width: 768px){
#modal-damages {
    z-index: 100 !important;
  }
}