.login-wrapper {
  background-color: #262626;
  height: 100%;
  padding: 4em 10% !important;
}

.gash-logo {
  margin: 0 auto;
  display: table;
  padding: 20% 0;
}

.inputs-wrapper {
  font-size: 2em !important;
}

.inputs-wrapper label {
  background: transparent !important;
  border: none;
  border-bottom: .5px solid white !important;
}

.inputs-wrapper label input {
  color: white;
}

.inputs-wrapper label input:hover {
  font-weight: bold;
}
