ion-content {
  background-color: #BDC3C7;
}

#button-log-out {
  border: none;
}

#container-input-wrapper{
  background-color: #3A3A3A;
  margin: 0px;
  border: none;
}

#container-input-button {
  border-radius: 0px;
}

#container-message {
  background-color: #306c90;
  text-align: center;
}

#container-message h4 {
  margin: 0px;
  padding: 1em;
  font-weight: normal;
  color: white;
}

.no-container{
  text-align: center;
}

.no-container h3 {
  color: white;
  padding-top: 60px;
}

#shippingCo {
  text-transform: capitalize;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}
