.full-width-tab {
  max-width: 100% !important;
  background-color: #3A3A3A !important;
}

.tab-item-active, .activated {
  background-color: #616161 !important;
  font-weight: bold !important;
  border: none !important;
}

.parts-table {
  width: 100%;
}

.close-icon{
  z-index: 1;
  color:#ddd;
}

.top-right {
  position: absolute;
  top: 0;
  right: 0;
  margin: 15px;
}

#button-log-out {
  border: none;
}

#container-input-wrapper2 {
  margin: 0px;
  border: none;
}

.width-print-buttons {
  width: 49% !important;
}

#setting-button {
  top: 0;
  bottom: 0;
  right: 0px;
}

.bar-footer {
  padding: 0px !important;
}

ion-content:after {
  content: "";
  display: table;
  clear: both;
}

.gash-report-logo {
  width: 60%;
  height: auto;
  margin: 5% auto;
  display: table;
}

.white-background {
  background-color: white !important;
}

.bar-footer button {
  margin: 0px !important;
  font-weight: none !important;
}

.item-accordion {
  border-bottom: none !important;
}

#container-view-selection {
  background-color: #f5f5f5;
  text-align: center;
}

#container-view-selection h4 {
    margin: 0px;
    padding: .5em;
    font-weight: normal;
}

.item-radio {
  width: 100% !important;
}

.view-scroll {
  overflow: auto !important;
}

select {
  font-size: 1em !important;
}

.top-margin {
  top: 95px !important;
}

.gash-footer {
  bottom: 60px;
}

.popup-buttons .button {
  background-color: #EF4641 !important;
  color: #fff;
}

.damagePopUp .popup{
  height: 100% !important;
  width: 80% !important;
}

.no-margin-chassis-up {
  padding: 10% 1% !important;
}

.no-margin-chassis-side {
  padding: 14% 1% !important;
}

.no-margin-front-back {
  padding: 7% 0% !important;
}

#seal_header {
  padding: 0 !important;
}

#seal_header .col {
  padding-top: 8px;
  padding-bottom: 8px;
  min-height: 30px;
  background-color: #f5f5f5;
  color: #222;
  font-weight: 500;
  border: 1px solid #ddd;
  text-align: center;
}

.table .row {
  padding: 0px !important;
  margin-top: -1px !important;
}

.table .row label {
  border: none !important;
}

.table .col {
  width: 100px !important;
  border: 1px solid #ddd;
}

.form_subtitle {
  text-align: center;
  background-color: #f5f5f5;
  font-size: 16px;
  padding: 10px 0;
}

.centered-checkbox div {
  width: 40px;
  margin-left: auto;
  margin-right: auto;
}

.report-mg-top {
  margin-top: 13%;
}

.text {
  text-align: center;
}

.modal-backdrop-bg {
  opacity: 0 !important;
}