/* Empty. Add your own CSS if you like */

.container-menu-img{
  display: table;
  margin: 0 auto;
  max-height: 300px;
  max-width: 300px;
  height: auto;
  width: auto;
  top: 50%;
}

.full-height{
  height:100%;
}
