#damages-list-wrapper {
  height: 20%;
  overflow-y: scroll;
  border-top: 0.5px solid #D8D0D0;
}

@media screen and (max-width: 412px) { 
	#damages-list-wrapper { 
		height: 16%; 
	} 
}

@media screen and (device-width: 320px) {
	#damages-list-wrapper {
		height: 12%;
	}
}